<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/about.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden1">学习使我</h4>
	<h4 class="hidden2"> <span id="js-rotating">出任首席执行官, 迎娶白富美, 走上人生巅峰！</span> </h4>
  </div>
  <div class="user-content">
    <p>
      屌丝一枚
    </p>
    <p>
      只想学习
    </p>
  </div>

  

  <div class="footer-widget"> 
    <aside id="nav_menu-2" class="widget widget_nav_menu wow" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
				<h3 class="widget-title"><span>福利网站</span></h3>
		<div class="menu-foot-menu-container">
			<ul id="menu-foot-menu" class="menu">
				<li class="menu-item menu-item-type-post_type menu-item-object-post"><a href="https://msdn.itellyou.cn/"><i class="fa fa-leaf"></i><span class="font-text">MSDN,我告诉你</span></a></li>
				<li class="menu-item menu-item-type-post_type menu-item-object-post"><a href="http://tool.yovisun.com/scihub/"><i class="fa fa-leaf"></i><span class="font-text">论文下载</span></a></li>
				<li class="menu-item menu-item-type-post_type menu-item-object-post"><a href="https://www.papercrazy.cn/"><i class="fa fa-leaf"></i><span class="font-text">论文查重</span></a></li>
				<li class="menu-item menu-item-type-post_type menu-item-object-post"><a href="http://www.carrotchou.blog/"><i class="fa fa-leaf"></i><span class="font-text">胡萝卜周</span></a></li>
				<li class="menu-item menu-item-type-post_type menu-item-object-post"><a href="https://www.ccava.net/"><i class="fa fa-leaf"></i><span class="font-text">漫步小月光</span></a></li>
				<li class="menu-item menu-item-type-post_type menu-item-object-post"><a href="https://www.iplaysoft.com/"><i class="fa fa-leaf"></i><span class="font-text">异次元</span></a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</aside>


	<aside id="nav_menu-3" class="widget widget_nav_menu wow" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
				<h3 class="widget-title"><span>网址导航</span></h3>
		<div class="menu-links-menu-container">
			<ul id="menu-links-menu" class="menu">
				<li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="https://www.google.cn/"><i class="fa "></i><span class="font-text">谷歌</span></a></li>
				<li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="http://www.gufenso.cn/"><i class="fa "></i><span class="font-text">谷粉搜</span></a></li>
				<li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="http://www.baidu.com/"><i class="fa "></i><span class="font-text">百度</span></a></li>
				<li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="http://hao.xsldh.com//"><i class="fa "></i><span class="font-text">小森林导航</span></a></li>
				<li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="https://nav.wsoso.com/"><i class="fa "></i><span class="font-text">蓝点网址导航</span></a></li>
				<li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="https://www.xbnav.com/"><i class="fa "></i><span class="font-text">西部导航</span></a></li>
			</ul></div><div class="clear">
		</div>
	</aside>
</div>



</div>