<div class="col s12 tag-div">

  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/Honeycam 2019-11-20 00-34-59.gif"></a>
  </div>

 <!--
 <img src="https://i.loli.net/2019/07/31/5d41045215ce328266.gif"/> 
 -->
  <div class="user-intro center-align">
    <h4 class="hidden">  <span id="js-rotating">  </span>  </h4>
  </div>
  <div class="user-content">
    <p>
      Github: https://github.com/love1994love
    </p>
	<p>
      email: Z_wjun9407@163.com
    </p>
    <p>
      Wechat: juxie940707
    </p>
  </div>
</div>