<div class="col s12 tag-div">
<!--
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/contact.png"></a>
  </div>
 -->
 
 <img src="file://D:\Git_love1994love\love1994love.github.io\assets\res\Honeycam 2019-08-01 00-27-53.gif"/> 
 
  <div class="user-intro center-align">
    <h4 class="hidden">  <span id="js-rotating">  </span>  </h4>
  </div>
  <div class="user-content">
    <p>
      Github: https://github.com/love1994love
    </p>
	<p>
      email: Z_wjun9407@163.com
    </p>
    <p>
      Wechat: juxie940707
    </p>
  </div>
</div>