</main>
    <footer class="page-footer teal">

<!--
      <div class="container">
        <div class="row">
          <div class="col s12">
            <img src="{{site.baseurl}}/assets/res/logo.png" alt="logo"/>
            <p class="grey-text text-lighten-4">{{site.description}}</p>
          </div>
        </div>
      </div>
-->
<!--
      <div class="footer-copyright">
        <div class="container">
          &#xA9; {{"now" | date: "%Y"}} {{site.title}}. All rights reserved. Powered by <a href="https://github.com/ShawnTeoh/matjek">MatJek</a>.
        </div>


-->

<style>
    
    .div-left{
        border:0 px;
        width: 300px;
        height: 200px;
        float:left;
        margin-left:300px;
        

    }
    .div-right{
        border:0 px;
        width: 300px;
        height: 200px;
        float:right;
        margin-right:300px;
       
    }


</style>

    <div class="div-left">

        <aside id="nav_menu-3" class="widget widget_nav_menu wow" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
            <h4 class="widget-title"><span>网址导航</span></h4>
            <div class="menu-links-menu-container">
                <ul id="menu-links-menu" class="menu">
                <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="https://www.google.cn/"><i class="fa "></i><span class="font-text">谷歌</span></a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="http://www.gufenso.cn/"><i class="fa "></i><span class="font-text">谷粉搜</span></a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="http://www.baidu.com/"><i class="fa "></i><span class="font-text">百度</span></a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="http://hao.xsldh.com//"><i class="fa "></i><span class="font-text">小森林导航</span></a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="https://nav.wsoso.com/"><i class="fa "></i><span class="font-text">蓝点网址导航</span></a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="https://www.xbnav.com/"><i class="fa "></i><span class="font-text">西部导航</span></a></li>
                </ul></div><div class="clear">
            </div>
        </aside>
    </div>

    <div class="div-right"> 
        <aside id="nav_menu-2" class="widget widget_nav_menu wow" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
            <h4 class="widget-title"><span>福利网站</span></h4>
            <div class="menu-foot-menu-container">
                <ul id="menu-foot-menu" class="menu">
                <li class="menu-item menu-item-type-post_type menu-item-object-post"><a href="https://msdn.itellyou.cn/"><i class="fa fa-leaf"></i><span class="font-text">MSDN,我告诉你</span></a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-post"><a href="http://tool.yovisun.com/scihub/"><i class="fa fa-leaf"></i><span class="font-text">论文下载</span></a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-post"><a href="https://www.papercrazy.cn/"><i class="fa fa-leaf"></i><span class="font-text">论文查重</span></a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-post"><a href="http://www.carrotchou.blog/"><i class="fa fa-leaf"></i><span class="font-text">胡萝卜周</span></a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-post"><a href="https://www.ccava.net/"><i class="fa fa-leaf"></i><span class="font-text">漫步小月光</span></a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-post"><a href="https://www.iplaysoft.com/"><i class="fa fa-leaf"></i><span class="font-text">异次元</span></a></li>
                </ul>
            <div class="clear"></div>
        </aside>
    </div>

</footer>
</body>
</html>
<!--
    <script src="//code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    {% for js in layout.js %}
    {% if js contains "//" %}
    <script src="{{js}}"></script>
    {% else %}
    <script src="{{site.baseurl}}/assets/js/{{js}}"></script>
    {% endif %}
    {% endfor %}
    {% for js in page.js %}
    {% if js contains "//" %}
    <script src="{{js}}"></script>
    {% else %}
    <script src="{{site.baseurl}}/assets/js/{{js}}"></script>
    {% endif %}
    {% endfor %}
    {% if site.google_tracking_id %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})
      (window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '{{site.google_tracking_id}}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
    <script src="{{site.baseurl}}/assets/js/main.js"></script>
  </body>
</html>
-->