<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>jQuery带节假日农历日历代码 - 站长素材</title>
</head>

<body>

<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>

<div class="membder-background addMemo-body">
	<div class="addMemo" id="iframe">
		<label>日期</label><input type="text" value="2015-10-10"  id="J-xl"/>
		<div class="clear-both"></div>
		<iframe src="iframe.html" width="100%" height="600" id="iframepage" name="iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>    
	</div>		
</div>

<script type="text/javascript">
$(document).ready(function(){
	var iframe=$("#iframepage").hide();
	$("#J-xl").click(function(){
		iframe.fadeIn();
	});
});
</script>

<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
</div>
</body>
</html>
