<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/about.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden1">学习使我</h4>
	<h4 class="hidden2"> <span id="js-rotating">出任首席执行官, 迎娶白富美, 走上人生巅峰！</span> </h4>
  </div>
  <div class="user-content">
    <p>
    </p>
    <p>
    </p>
    <p>
    </p>
    <p>
    </p>
  </div>

</div>

<style>
  .sow-icon-container-position-left{
        width: 300px;
        height: 200px;
        float:left;
        margin-left:120px;
  }
  

</style>

<div class="sow-features-list">
  <div class="sow-icon-container-position-left " style="width: 33.333%">
    <div class="sow-icon-container sow-container-none" style="color: #404040; "></div>        
    <div class="textwidget">
      <h5>本地搜索软件</h5>
      <p>嫌windows自带的搜索太慢？那么这两款软件你值得拥有其中之一：Listary(<a href="https://www.listary.com/" target="_blank" rel="nofollow">官网</a>、<a href="https://pan.baidu.com/s/1kHqz3KSJ5HdTb2Lu_joZ0g" target="_blank" rel="nofollow">下载地址</a>(提起码：jgcf))、Everything(<a href="https://www.voidtools.com/zh-cn/" target="_blank" rel="nofollow">官网</a>)</p>
    </div>
  </div>

  <div class="sow-icon-container-position-left " style="width: 33.333%">
    <div class="sow-icon-container sow-container-none" style="color: #404040; "></div>
    <div class="textwidget">
      <h5>密码管理软件</h5>
      <p>注册了很多网站，但是总是同一个密码觉得不安全，设置别的密码又记不住，那么，Enpass(<a href="https://www.enpass.io/" target="_blank" rel="nofollow">官网</a>)是一个不错的选择</p>
    </div>
  </div>

  <div class="sow-icon-container-position-left " style="width: 33.333%">
    <div class="sow-icon-container sow-container-none" style="color: #404040; "></div>
    <div class="textwidget">
      <h5>压缩解压</h5>
      <p>压缩解压软件那么多，该选择哪一款呢？这里推荐干净超美的Bandizip(<a href="http://www.bandisoft.com/" target="_blank" rel="nofollow">官网</a>)，配合Honeyview更加好用！</p>
    </div>
  </div>

  <div class="sow-icon-container-position-left " style="width: 33.333%">
    <div class="sow-icon-container sow-container-none" style="color: #404040; "> </div>
    <div class="textwidget">
      <h5>屏幕护眼</h5>
      <p>长时间使用电脑难免会使得眼睛疲劳，这里推荐一款免费的护眼软件Flux(<a href="https://justgetflux.com/" target="_blank" rel="nofollow">官网</a>)</p>
    </div>
  </div>

  <div class="sow-icon-container-position-left " style="width: 33.333%">
    <div class="sow-icon-container sow-container-none" style="color: #404040; "></div>
    <div class="textwidget">
      <h5>windows多标签</h5>
      <p>windows打开资源管理器总是单个单个的，来回切换太麻烦，这里推荐Stardock Groupy(<a href="https://www.stardock.com/products/groupy/" target="_blank" rel="nofollow">官网</a>,<a href="https://pan.baidu.com/s/14UvRG-Bz8Xxu15luQCtw6Q" target="_blank" rel="nofollow">下载地址</a>(提取码：ouls))。以及推荐Windows资源管理器替换软件XYplorer(<a href="https://www.xyplorer.com/" target="_blank" rel="nofollow">官网</a>，<a href="https://pan.baidu.com/s/1UZUU2HmHh58wEKzLHjRsoA" target="_blank" rel="nofollow">下载地址</a>(提取码：p8nm ))。</p>
    </div>
  </div>

  <div class="sow-icon-container-position-left " style="width: 33.333%">
    <div class="sow-icon-container sow-container-none" style="color: #404040; "></div>
    <div class="textwidget">
      <h5>下载软件</h5>
      <p>有没有什么好用的下载软件呢？打开网页就能自己检测到网页中可以下载的东西，让我自己选择下载，这里推荐IDM(<a href="http://www.internetdownloadmanager.com/" target="_blank" rel="nofollow">官网</a>、<a href="https://pan.baidu.com/s/1NkaT7Fs2P0UNjx-mmjQPFQ" target="_blank" rel="nofollow">下载地址</a>(提取码：imjz))、速盘(<a href="https://www.speedpan.com/" target="_blank" rel="nofollow">官网</a>)(加速下载百度云资源)</p>
      </div>
  </div>

  <div class="sow-icon-container-position-left" style="width: 33.333%">
    <div class="sow-icon-container sow-container-none" style="color: #404040; "></div>
    <div class="textwidget">
      <h5>快速启动软件</h5>
      <p>如果说推荐几款Windows上快速启动软件，那么我会推荐<a href="https://getrolan.com/" target="_blank" rel="nofollow">Rolan</a>以及<a href="http://www.wox.one/" target="_blank" rel="nofollow">wox</a>(配合everything更加好用)。</p>
    </div>
  </div>

  <div class="sow-icon-container-position-left" style="width: 33.333%">
    <div class="sow-icon-container sow-container-none" style="color: #404040; "></div>
    <div class="textwidget">
      <h5> 清理与卸载软件</h5>
      <p>现在对于Windows系统上的清理软件多如牛毛，但是我认为比较好用的还是<a href="https://www.ccleaner.com/" target="_blank" rel="nofollow">cclearner</a>,小巧不流氓。如果说Windows上自带的卸载功能不好用，不能完全卸载软件的话，那么你需要<a href="https://geekuninstaller.com/" target="_blank" rel="nofollow">geek</a>，这是一款绿色、小巧以及免费的超好用的卸载软件。</p>
    </div>
  </div>


  <div class="sow-icon-container-position-left" style="width: 33.333%">
    <div class="sow-icon-container sow-container-none" style="color: #404040; "></div>
    <div class="textwidget">
      <h5>截图录像软件</h5>
      <p>对于想要截图或者录像的软件，我推荐FastStone Capture(<a href="https://faststone-capture.en.softonic.com/" target="_blank" rel="nofollow">网站</a>)、Honeycam (Gif录制，<a href="http://www.bandisoft.com/honeycam/screenshots/" target="_blank" rel="nofollow">官网</a>)以及Bandicam(录像，<a href="https://www.bandicam.cn/" target="_blank" rel="nofollow">官网</a>)软件（<a href="https://pan.baidu.com/s/1VV9rDwrznZ8Wf8lIbKtXzw" target="_blank" rel="nofollow">下载地址</a>，提取码：yqxi）</p>
    </div>
  </div>   
</div>
